<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github</title>
</head>
<body>
    <a href="{% url "social:begin" "github" %}">Github+</a>
</body>
</html>